<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    this is the dependency bean-->
    <bean id="drawBean2d"
          class="com.Draw2D">
    </bean>

    <bean id = "drawBean3d"
          class="com.Draw3D">
    </bean>

    <!-- Setter injection -->
    <bean id="rectangle" class="com.RectangleShape">
        <property name="drawShapeFor2d" ref="drawBean2d"/>
        <property name="drawShapeFor3d" ref="drawBean3d"/>
    </bean>



    <!-- constructor injection -->
    <bean id="circle" class="com.CircleShape">
        <constructor-arg ref="drawBean2d"/>
    </bean>
</beans>





